{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>NPFSOLUTIONS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Free HTML5 Website Template by gettemplates.co" />
    <meta name="keywords" content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
    <meta name="author" content="gettemplates.co" />

    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content=""/>
    <meta property="og:image" content=""/>
    <meta property="og:url" content=""/>
    <meta property="og:site_name" content=""/>
    <meta property="og:description" content=""/>
    <meta name="twitter:title" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:card" content="" />

    <link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet">

    <!-- Animate.css -->
    <link rel="stylesheet" href="{% static 'css/animate.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="{% static 'css/icomoon.css' %}">
    <!-- Themify Icons-->
    <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
{#    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">#}
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <!-- Owl Carousel  -->
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Flexslider -->
    <link rel="stylesheet" href="{% static 'css/flexslider.css' %}">
    <!-- Theme style  -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- Modernizr JS -->
    <script src="{% static 'js/modernizr-2.6.2.min.js' %}"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
    <script src="js/respond.min.js"></script>

    <![endif]-->
    <style>
        .carousel-inner > .item > img,
        .carousel-inner > .item > a > img {

        }
        .service{
            height: 300px;
            width: 700px;
        }
        #map{

            width: 400px;
            height: 200px;
            margin-top: 2%;
            margin-bottom: 2%;

        }
        h4{
            margin-top: 2%;
        }
    </style>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCtIyU20pIRz_trDzmR4JFHC3dabSlhNbk&callback=initMap">
    </script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>

    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>

    <script type="text/javascript">

        var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 16,
          center: new google.maps.LatLng(-33.91722, 151.23064),
          mapTypeId: 'roadmap'
        });

        var iconBase = 'https://maps.google.com/mapfiles/kml/shapes/';
        var icons = {
          parking: {
            icon: iconBase + 'parking_lot_maps.png'
          },
          library: {
            icon: iconBase + 'library_maps.png'
          },
          info: {
            icon: iconBase + 'info-i_maps.png'
          }
        };

        function addMarker(feature) {
          var marker = new google.maps.Marker({
            position: feature.position,
            icon: icons[feature.type].icon,
            map: map
          });
        }

        var features = [
          {
            position: new google.maps.LatLng(-33.91721, 151.22630),
            type: 'info'
          }, {
            position: new google.maps.LatLng(-33.91539, 151.22820),
            type: 'info'
          }, {
            position: new google.maps.LatLng(-33.91747, 151.22912),
            type: 'info'
          }, {
            position: new google.maps.LatLng(-33.91910, 151.22907),
            type: 'info'
          }, {
            position: new google.maps.LatLng(-33.91725, 151.23011),
            type: 'info'
          }, {
            position: new google.maps.LatLng(-33.91872, 151.23089),
            type: 'info'
          }, {
            position: new google.maps.LatLng(-33.91784, 151.23094),
            type: 'info'
          }, {
            position: new google.maps.LatLng(-33.91682, 151.23149),
            type: 'info'
          }, {
            position: new google.maps.LatLng(-33.91790, 151.23463),
            type: 'info'
          }, {
            position: new google.maps.LatLng(-33.91666, 151.23468),
            type: 'info'
          }, {
            position: new google.maps.LatLng(-33.916988, 151.233640),
            type: 'info'
          }, {
            position: new google.maps.LatLng(-33.91662347903106, 151.22879464019775),
            type: 'parking'
          }, {
            position: new google.maps.LatLng(-33.916365282092855, 151.22937399734496),
            type: 'parking'
          }, {
            position: new google.maps.LatLng(-33.91665018901448, 151.2282474695587),
            type: 'parking'
          }, {
            position: new google.maps.LatLng(-33.919543720969806, 151.23112279762267),
            type: 'parking'
          }, {
            position: new google.maps.LatLng(-33.91608037421864, 151.23288232673644),
            type: 'parking'
          }, {
            position: new google.maps.LatLng(-33.91851096391805, 151.2344058214569),
            type: 'parking'
          }, {
            position: new google.maps.LatLng(-33.91818154739766, 151.2346203981781),
            type: 'parking'
          }, {
            position: new google.maps.LatLng(-33.91727341958453, 151.23348314155578),
            type: 'library'
          }
        ];

        for (var i = 0, feature; feature = features[i]; i++) {
          addMarker(feature);
        }
      }
    </script>
</head>
<body>
	<div class="gtco-loader"></div>
    <nav id="hide_menu_title" class="gtco-nav" style="padding: 0; top: 0; position: inherit" role="navigation">
		<div class="col-sm-10 col-xs-12" id="title_text" style="margin-top: 5px; top: 0;">
			<div id="gtco-logo">
                <a href="/">
                    <img src="{% static 'images/logo-180.png' %}" height="50">
                </a>
            </div>
		</div>
		<div class="col-sm-2" id="lang-pc" style="margin-top: 10px; display: none">
			<h4>
				<a href="/ru">RU</a>|
				<a href="/en">EN</a>
{#				<a href="#">KG</a>#}
			</h4>
		</div>
			<div class="row" style="">
				<div style="height: 60px; background-color: #5CAE5B; margin-top: 10px" class="col-xs-12 menu-1">
					<ul style="height: 53px; margin-top: 16px; margin-left: 50px;">
						<li>
							<h4 id="phone-lang" style="color: white; display: none;">
								<a href="/ru">RU</a>|
								<a href="/en">EN</a>
{#								<a href="#">KG</a>#}
							</h4>
						</li>
						<li><a href="/ru">Главная |</a></li>
						<li><a href="{% url 'feed_products_en' %}">Feed</a></li>
						<li><a href="{% url 'poultry_en' %}">Poultry</a></li>
						<li><a href="#">DairyDev</a></li>
						<li><a href="{% url 'distributor_en' %}">Distributors</a></li>
						<li><a href="{% url 'distributorship_en' %}">Distributorship</a></li>
						<li><a href="#">RoyalBreed</a></li>
					</ul>
				</div>
		</div>
	</nav>
        <div id="body_top" style="">
            {% block content %}

            {% endblock %}
        </div>
	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>
    <script>
        if(document.body.clientWidth < 761) {
            document.getElementById('phone-lang').style.display = 'block';
        }else if(document.body.clientWidth > 761){
            document.getElementById('lang-pc').style.display = 'block';
        }
        if(document.body.clientWidth < 980 ){
            document.getElementById('service_detail').style.height = '1200px';
        }
        if(document.body.clientWidth < 761) {
            document.getElementById('service_detail').style.top = '0px';
        }
        if(document.body.clientWidth > 779){
            document.getElementById('map').style.width = '550px';
        }
        if(document.body.clientWidth < 662 && document.body.clientWidth > 410) {
            document.getElementById('map').style.width = '400px';

        }else if(document.body.clientWidth < 412 && document.body.clientWidth > 359){
            document.getElementById('map').style.width = '350px';
        }else if(document.body.clientWidth < 359){
            document.getElementById('map').style.width = '300px';
        }
        if(document.body.clientWidth > 1000 ) {
            document.getElementById('service_detail').style.height = '600px';
            document.getElementById('map').style.width = '650px';
        }
        if(document.body.clientWidth > 1800) {
            document.getElementById('service_detail').style.height = '600px';
            document.getElementById('map').style.width = '600px';
        }
        if(document.body.clientWidth > 2000) {
            document.getElementById('service_detail').style.height = '900px';
            document.getElementById('map').style.width = '650px';
        }
    </script>

	</body>
    <!-- BEGIN JIVOSITE CODE {literal} -->
    <script type='text/javascript'>
    (function(){ var widget_id = 'alk3sIyHPV';var d=document;var w=window;function l(){
    var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);}if(d.readyState=='complete'){l();}else{if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();</script>
    <!-- {/literal} END JIVOSITE CODE -->
	<!-- jQuery -->
	<script src="{% static 'js/jquery.min.js' %}"></script>
	<!-- jQuery Easing -->
	<script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
	<!-- Bootstrap -->
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<!-- Waypoints -->
	<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
	<!-- Carousel -->
	<script src="{% static 'js/owl.carousel.min.js' %}"></script>
	<!-- countTo -->
	<script src="{% static 'js/jquery.countTo.js' %}"></script>
{#	<script src="{% static 'js/validator.js' %}"></script>#}
{#	<script src="{% static 'js/contact.js' %}"></script>#}
{#    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>#}
	<!-- Flexslider -->
	<script src="{% static 'js/jquery.flexslider-min.js' %}"></script>
	<!-- Magnific Popup -->
	<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
	<script src="{% static 'js/magnific-popup-options.js' %}"></script>
	<!-- Main -->
	<script src="{% static 'js/main.js' %}"></script>
</html>